body {
    display: block;
    margin: 0px;
}

.mint-swipe {
    height: 200px;
    font-size: 30px;
    text-align: center;
    /* margin-bottom: 20px; */
}

.mint-swipe-item {
    line-height: 200px;
    background-color: rgb(0, 220, 183);
    color: rgb(255, 255, 255);
}